.login-page-title {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #545454;
}
mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}

mat-card {
  padding: 25px 0;
  width: 450px;
  margin: 1% auto;
  border-radius: 8px;
}
mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin: 20px auto;
  display: block;
  width: 80%;
  margin-bottom: 0;
}

.have-account-button {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 18px;
  color: #545454;
  a {
    text-decoration: none;
    justify-content: center;
    font-family: "Nunito Sans";
    font-weight: 500;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  mat-card {
    width: 100%;
  }
}
.color {
  background-color: red;
}
