$HEADER_HEIGHT: 92px;

.layout {
  app-header {
    position: fixed;
    width: 100%;
    height: $HEADER_HEIGHT;
  }

  .container {
    padding-top: $HEADER_HEIGHT;
  }
}

@media (max-width: 1024px) {
  .layout {
    width: 411px;
    app-header {
      position: inherit;
    }
    .container {
      padding-top: 0;
    }
  }
}
