/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @font-face {
//   font-family: Nunito Sans;
//   src: url("./assets/fonts/nanito/NunitoSans-Regular.ttf");
//   font-weight: normal;
// }

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: Nunito Sans;
  src: url("./assets/fonts/nanito/NunitoSans-Light.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Nunito Sans;
  src: url("./assets/fonts/nanito/NunitoSans-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Nunito Sans;
  src: url("./assets/fonts/nanito/NunitoSans-Bold.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Nunito Sans;
  background-color: #f5f5f5;
}

@media (max-width: 1024px) {
  body {
    @include flex-center;
  }
}
