<div class="user-profile">
  <div class="user-profile__background">
    <img src="/assets/images/background-image.png" alt="main-img" />
  </div>
  <div class="wrapper">
    <div class="wrapper__user-content">
      <div>
        <img src="/assets/images/popup-user-img.png" alt="user-img" />
      </div>
      <div class="name">
        <p>Robert Downey Jr</p>
      </div>
      <div class="edit" (click)="openEditDialog()">
        <img src="/assets/icons/pen.png" alt="pen" />
        <p>Edit Profile</p>
      </div>
    </div>
    <div class="wrapper__user-info">
      <div class="title">
        <p>Profile Info</p>
      </div>
      <div class="under-line"></div>
      <div class="wrapper__user-info__container">
        <div class="content1">
          <div class="user">
            <img src="/assets/icons/user.png" alt="user" />
            <div class="text content-text">
              <span>Username</span>
              <p>Robert Downey Jr</p>
            </div>
          </div>
          <div class="phone">
            <img src="/assets/icons/phone.png" alt="phone" />
            <div class="text content-text">
              <span>Phone</span>
              <p>+1 123-456-789</p>
            </div>
          </div>
          <div class="location">
            <img src="/assets/icons/location.png" alt="phone" />
            <div class="text content-text">
              <span>Country</span>
              <p>United States</p>
            </div>
          </div>
        </div>

        <div class="content2">
          <div class="email">
            <img src="/assets/icons/email.png" alt="user" />
            <div class="text content-text">
              <span>Email</span>
              <p>robertdjr@starkindustries.com</p>
            </div>
          </div>
          <div class="data">
            <img src="/assets/icons/date.png" alt="phone" />
            <div class="text content-text">
              <span>Birthdate</span>
              <p>09/10/1968</p>
            </div>
          </div>
          <div class="web-address">
            <img src="/assets/icons/world.png" alt="phone" />
            <div class="text content-text">
              <span>Website</span>
              <p>www.starkindustries.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
